.chart-container {
  width: 1000px;
  height: 100%;
  display: inline-block;
}

.slider {
  margin: 0 50px;
  width: 800px;
  display: inline-block;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.manufacturers {
  height: 200px;
  overflow-y: scroll;
  width: 300px;
  display: inline-block;
}

.checkbox-elements {
  display: flex;
  align-items: center;
  align-content: flex-start;
}

.x-selector {
  position: fixed;
  top: 50px;
  margin: 10px 10px 0 10px;
}

.ySelector {
  display: inline-block;
  position: fixed;
    top: 580px;
}

.slidertitle {
  display: inline-block;
}

.slider-action {
  display: inline-block;
}